# OS related
Thumbs.db

#Ignore data files
data/raw/*.csv
data/interim/*.csv
!data/interim/combined_data_BrandName_cleaned_3.csv
data/processed/*.csv

# Ignore python artifacts
__pycache__/
.vscode/
.ipynb_checkpoints/
.venv/
.env

