# OS related
Thumbs.db

#Ignore data files
data/raw/*.csv
data/interim/*.csv
!data/i

# Keep placeholder files to show empty folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Keep this one specific file
!data/interim/combined_data_BrandName_cleaned_3.csv

# Keep empty folders visible in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore python artifacts
__pycache__/
.vscode/
.ipynb_checkpoints/
.venv/
.env

