# OS related
Thumbs.db

#Ignore data files
data/raw/*.csv
data/interim/*.csv
!data/i

# Keep placeholder files to show empty folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore python artifacts
__pycache__/
.vscode/
.ipynb_checkpoints/
.venv/
.env

